@charset "UTF-8";
body, textarea, input, select, option {
  font-size: 12px;
  color: #333;
  font-family: "Microsoft Yahei","Hiragino Sans GB", tahoma, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
}

ol, ul, textarea, input, option, th, td {
  padding: 0;
}

table {
  border-collapse: collapse;
}

li {
  list-style-type: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

a, textarea, input, select {
  outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}

.img img {
  display: block;
}

a img {
  border: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a:hover {
  text-decoration: underline;
}

.m {
  margin: 0 auto;
  width: 960px;
}

.t10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/**
去ie10 小X
*/
::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

/**
placeholder color更改
*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

.onedl {
  margin-left: 18px;
  padding-top: 18px;
  border-bottom: 1px solid #a8a8a8;
  width: 921px;
}

.onedl dt {
  width: 76px;
  height: 108px;
  margin-top: 22px;
  background: url(i/index.png?__sprite1489369605112) no-repeat 0 0;background-position:0px 0px;
  float: left;
}

.onedl dd {
  float: left;
  margin-left: 42px;
  width: 778px;
}

.onedl dd p {
  font-size: 12px;
  line-height: 24px;
  color: #646464;
  margin-bottom: 10px;
}

.onedl dd span {
  display: block;
}

.onedl dd span em {
  float: left;
  margin-top: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-style: normal;
  width: 100px;
  height: 20px;
  text-align: center;
  background: #f77933;
}

.onedl dd span i {
  float: left;
  font-size: 12px;
  line-height: 37px;
  color: #4c4c4c;
  font-style: normal;
  margin-left: 12px;
}

.onedl dd span b {
  float: left;
  font-size: 12px;
  line-height: 37px;
  color: #4c4c4c;
  font-weight: normal;
  font-style: normal;
}

.onedl dd .onespan2 {
  margin-bottom: 19px;
}

.onedl dd .onespan2 b {
  color: #0b9dce;
}

.divzl {
  margin: 0 auto;
  height: 10px;
  background: url(i/onebgl.png) no-repeat 0 0;
}

.divzr {
  height: 10px;
  background: url(i/onebgr.png) no-repeat right 0;
}

.divzz {
  margin: 0 auto;
  width: 956px;
  height: 10px;
  background: url(i/onebgz.png) repeat-x 0 0;
}

.onebgl1 {
  height: 10px;
  background: url(i/onebgl1.png) no-repeat 0 0;
}

.onebgr1 {
  height: 10px;
  background: url(i/onebgr1.png) no-repeat right 0;
}

.onebgz1 {
  margin: 0 auto;
  width: 956px;
  height: 10px;
  background: url(i/onebgz1.png) repeat-x 0 0;
}

.onezhongl {
  margin: 0 auto;
  width: 956px;
  background: url(i/onezongl.png) repeat-y 0 0;
}

.onezhongr {
  width: 956px;
  background: url(i/onezongl.png) repeat-y right 0;
}

.twobgl {
  height: 4px;
  background: url(i/twobgl.png) no-repeat 0 0;
}

.twobgr {
  height: 4px;
  background: url(i/twobgr.png) no-repeat right 0;
}

.twobgz {
  width: 189px;
  height: 4px;
  margin-left: 94px;
  background: url(i/twobgz.png) repeat-x 0 0;
}

.twobgl1 {
  height: 4px;
  background: url(i/twobgl1.png) no-repeat 0 0;
}

.twobgr1 {
  height: 4px;
  background: url(i/twobgr1.png) no-repeat right 0;
}

.twobgz1 {
  width: 189px;
  height: 4px;
  margin-left: 94px;
  background: url(i/twobgz1.png) repeat-x 0 0;
}

.twozhongl {
  margin-left: 94px;
  width: 189px;
  background: url(i/twozongl.png) repeat-y 0 0;
}

.twozhongr {
  width: 189px;
  background: url(i/twozongl.png) repeat-y right 0;
}

.twospan1 {
  display: block;
}

.twospan1 i {
  font-size: 15px;
  float: left;
  line-height: 37px;
  color: #fff;
  width: 142px;
  height: 37px;
  font-style: normal;
  text-align: center;
  background: url(i/index.png?__sprite1489369605112) no-repeat 0 0;background-position:0px -113px;
}

.twospan1 em {
  float: left;
  font-size: 14px;
  line-height: 37px;
  color: #bfbfbf;
  font-style: normal;
  margin-left: 18px;
}

.onelie {
  margin-left: 18px;
  float: left;
}

.threet1 {
  float: left;
  display: block;
  width: 76px;
  height: 95px;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 15px;
}

.threest1 {
  display: block;
  margin-left: 110px;
  font-size: 12px;
  padding-top: 16px;
}

.two1 {
  margin-top: 10px;
  background: url(i/twoshu1.png) repeat-y 38px 0;
}

.threeyk1 {
  width: 250px;
  height: 9px;
  background: url(i/twoshu1.png) repeat-y 38px 0;
}

.threeyk2 {
  height: 35px;
  background: url(i/dak.png) no-repeat 6px 0;
}

.threeyk2 var {
  font-size: 12px;
  font-style: normal;
  color: #696969;
  margin-left: 105px;
  line-height: 22px;
}

.threeyk2 em {
  font-size: 12px;
  font-style: normal;
  color: #f54b1f;
  line-height: 22px;
}

.threeyk2 i {
  font-size: 12px;
  font-style: normal;
  color: #696969;
  line-height: 22px;
}

.threeyk3 {
  width: 250px;
  height: 26px;
  background: url(i/twoshu1.png) repeat-y 243px 0;
}

.threeyk4 {
  background: url(i/jianxia.png) no-repeat 240px 0px;
}

.threeyk4 em {
  width: 23px;
  height: 31px;
  float: left;
  margin-left: 5px;
  background: url(i/huoju.png) no-repeat 0 0;
}

.threeyk4 var {
  font-size: 15px;
  margin-top: 9px;
  margin-left: 9px;
  float: left;
  font-style: normal;
  line-height: 25px;
}

.threeyk4 cite {
  margin-top: 9px;
  font-size: 15px;
  margin-left: 9px;
  float: left;
  font-style: normal;
  line-height: 25px;
}

.onejiao {
  position: absolute;
  width: 15px;
  height: 34px;
  background: url(i/onejiao.png) no-repeat 0 0;
  left: 82px;
  top: 55px;
}

.twozhongr p {
  font-size: 12px;
  line-height: 21px;
  color: #4e4e4e;
  padding: 12px 15px 10px 14px;
}

.onelie {
  width: 300px;
  margin-top: 33px;
  background: url(i/onelie.png) repeat-y right 35px;
}

.threeyk {
  position: relative;
}

.jians {
  position: absolute;
  width: 10px;
  height: 7px;
  left: 35px;
  top: 126px;
  background: url(i/index.png?__sprite1489369605112) no-repeat 0 0;background-position:0px -155px;
}

.two2 {
  float: left;
}

.two2 .twobgz {
  margin-left: 0;
}

.two2 .twozhongl {
  margin-left: 0;
}

.two2 .twobgz1 {
  margin-left: 0;
}

.tu2 {
  float: left;
  margin-left: 25px;
}

.tu2 .threet1 {
  padding-top: 2px;
  display: block;
  float: none;
  padding-bottom: 7px;
}

.tu2 p {
  line-height: 25px;
  width: 76px;
  text-align: center;
  background: #fff;
}

.threeyk5 {
  position: relative;
  background: url(i/twoshu1.png) repeat-y 243px 0;
}

.yk5san {
  background: url(i/yk5san.png) no-repeat 0 0;
  width: 16px;
  height: 34px;
  position: absolute;
  left: 187px;
  top: 16px;
}

.yk5jian {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 240px;
  bottom: 0px;
  background: url(i/index.png?__sprite1489369605112) no-repeat 0 0;background-position:0px -167px;
}

.threeyk6 {
  margin-top: 6px;
}

.threeyk6 em {
  width: 23px;
  height: 31px;
  float: left;
  margin-left: 98px;
  background: url(i/huoju.png) no-repeat 0 0;
}

.threeyk6 var {
  font-size: 15px;
  margin-top: 9px;
  margin-left: 9px;
  float: left;
  font-style: normal;
  line-height: 25px;
}

.threeyk6 cite {
  margin-top: 9px;
  font-size: 15px;
  margin-left: 9px;
  float: left;
  font-style: normal;
  line-height: 25px;
}

.two3 .twobgz {
  margin-left: 98px;
}

.two3 .twozhongl {
  margin-left: 98px;
}

.two3 .twobgz1 {
  margin-left: 98px;
}

.tu3 {
  float: left;
}

.tu3 .threet1 {
  padding-top: 2px;
  float: none;
  padding-bottom: 7px;
}

.tu3 p {
  line-height: 25px;
  width: 76px;
  text-align: center;
  background: #fff;
}

.threeyk7 {
  position: relative;
  background: url(i/twoshu1.png) repeat-y 38px 0;
}

.yk7san {
  background: url(i/yk7san.png) no-repeat 0 0;
  width: 15px;
  height: 33px;
  position: absolute;
  left: 85px;
  top: 16px;
}

.yk7jian {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 35px;
  bottom: 0px;
  background: url(i/index.png?__sprite1489369605112) no-repeat 0 0;background-position:0px -167px;
}

.threeyk8 {
  padding-top: 11px;
  background: none;
}

.threeyk9 {
  background: none;
}

.threeyk10 {
  font-size: 15px;
  line-height: 37px;
  color: #fff;
  width: 142px;
  height: 37px;
  font-style: normal;
  text-align: center;
  margin-left: 61px;
  margin-top: 14px;
  background: url(i/index.png?__sprite1489369605112) no-repeat 0 0;background-position:0px -113px;
}

.onelie3 {
  background: none;
}

.diyihang1 {
  height: 30px;
  background: url(i/onehang.png) repeat-x 0 0;
}

.diyihang {
  height: 30px;
  width: 956px;
  margin: 0 auto;
}

.ulone1 li {
  float: left;
  margin-right: 19px;
  font-size: 12px;
  line-height: 30px;
}

.ulone2 {
  float: right;
}

.ulone2 i {
  font-style: normal;
}

.ulone2 em {
  line-height: 30px;
  font-size: 12px;
  margin-left: 10px;
}

.ulone2 a {
  line-height: 30px;
  font-size: 12px;
}

.dierhang {
  background: url(i/hong1.png) repeat-x 0 0;
}

.red1 {
  width: 951px;
  height: 397px;
  margin: 0 auto;
  background: url(i/hong.png) no-repeat 0 0;
}

.bolang1 {
  margin-top: -86px;
  height: 87px;
  background: url(i/bolang.png) repeat-x 0 0;
}

.xian {
  width: 338px;
  height: 136px;
  position: absolute;
  z-index: 10;
  right: 0px;
  top: -47px;
  background: url(i/xian.png) no-repeat 0 0;
}

.disanhang {
  position: relative;
  width: 956px;
  padding-top: 55px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.disanhang p {
  text-indent: 2em;
  font-size: 12px;
  line-height: 24px;
  padding-left: 29px;
  padding-right: 115px;
}
