<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>shieryueliuhao</title>
	<meta name="keyboard" content="jieshaodeneirong"/>
	<meta name="description" content="jieshaodeneir"/>
	<link type="text/css" rel="stylesheet"  href="/yk/css/index.css" source="widget"/>
	<script type="text/javascript" src="/yk/js/jquery.js" source="widget"></script>
	<script type="text/javascript" src="/yk/js/sea.js" source="widget"></script>
	<script type="text/javascript" src="/yk/js/vue.js" source="widget"></script>
</head>
<body>
<ul class="oneul clearfix">
	<li>首页</li>
	<li>公司</li>
	<li>我的简历</li>
</ul>
<div class="twoul clearfix">
	<p>我的简历</p>
<!-- 	<var id="zongy">预览简历</var> -->
</div>
<ul class="twoul" id="twoul" v-cloak>
	<li class="oneli">
		<div class="onekuai1 clearfix" id="onek1" v-bind:class="{'class-bb': decide.work1.isB}">
			<div class="twopub twopubxin clearfix">
				<var></var>
				<em>联系方式</em>
			</div>
			<div class="xianjudi">
				<input type="text" id="ula01" v-model="resume.name">
				<input type="text" id="ula02" v-model="resume.age">
				<div class="xinselect">
					<select v-model="resume.city_live.province">
						<option>河北省</option>
						<option>河南省</option>
						<option>湖北省</option>
						<option>湖南省</option>
					</select>
					<cite>
						<b>{{resume.city_live.province | typeSelect1 "选择省份"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect xin1">
					<select v-model="resume.city_live.city">
						<option>河北省</option>
						<option>河南省</option>
						<option>湖北省</option>
						<option>湖南省</option>
					</select>
					<cite>
						<b>{{resume.city_live.city | typeSelect1 "选择城市"}}</b>
						<strong></strong>
					</cite>
				</div>
			</div>
			<div class="xianjudi1">
				<div class="nannv clearfix">
					<i>性别:</i>
					<var id="onenan" v-bind:class="{'cur1':sex1.isCur1}" v-on:click="subSex1">男</var>
					<cite id="onenv" v-bind:class="{'cur2':sex1.isCur2}" v-on:click="subSex2">女</cite>
				</div>
				<div class="xinselect xin2">
					<select v-model="resume.work_experience">
						<option>一年</option>
						<option>两年</option>
						<option>三年</option>
						<option>四年</option>
					</select>
					<cite>
						<b>{{resume.work_experience | typeSelect1 "工作年限"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect xin3">
					<select v-model="resume.city_birth.province">
						<option>北京市</option>
						<option>上海市</option>
						<option>天津市</option>
						<option>南京市</option>
					</select>
					<cite>
						<b>{{resume.city_birth.province | typeSelect1 "居住省份"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect xin4">
					<select v-model="resume.city_birth.city">
						<option>北京市</option>
						<option>上海市</option>
						<option>天津市</option>
						<option>南京市</option>
					</select>
					<cite>
						<b>{{resume.city_birth.city | typeSelect1 "居住城市"}}</b>
						<strong></strong>
					</cite>
				</div>
			</div>
			<div class="zhaopian">
				<cite>
					<b>上传头像</b>
				</cite>
				<i id="onef" v-bind:class="{'cur3':lizhi.isCur3}" v-on:click="sublizhi">目前离职中</i>
			</div>
			<div class="clear"></div>
			<div class="onebaocun clearfix">
				<p id="onebao" v-on:click="subForm2">保存</p>
				<span id="onequxiao">取消</span>
			</div>
		</div>
		<div class="onekuai2" id="onek2" v-bind:class="{'class-aa':decide.work1.isA}">
			<div class="twopub twopubxin clearfix">
				<var></var>
				<em>联系方式</em>
				<i id="twobian" v-on:click="subForm3">编辑</i>
			</div>
			<div class="clearfix">
				<div class="onehanwen">
					<span  class="onespan1 clearfix">
						<var id="onename">{{resume.name}}</var>
						<em class="oneem1" id="onesex">{{resume.sex}}</em>
						<em class="oneem3">/</em>
						<em class="oneem2" id="oneage">{{resume.age}}</em>
					</span>
					<cite>
						现居地：<i id="onexianju">{{resume.city_live.province | typeSelect1}}{{resume.city_live.city}}</i>&nbsp;&nbsp;&nbsp;
						户口地：<b id="onehukou"> {{resume.city_birth.province}}{{resume.city_birth.city}}</b>
					</cite>
					<span class="onespan2">
						工作经验:<strong id="onegongzuo">{{resume.work_experience}}</strong>&nbsp;&nbsp;&nbsp;
						目前状态:<strong id="onem">{{resume.resigned}}</strong>
					</span>
				</div>
				<img src="images/yanghanwen.png" alt="tupian" class="onetupian"/>
			</div>
		</div>
	<!-- 	<div class="onebian" id="onebian" v-on:click="subForm3">编辑</div> -->
	</li>
	<li>
		<div class="twok1" id="twok1" v-bind:class="{'class-aa':decide.work2.isA}">
			<div class="twopub clearfix">
				<var></var>
				<em>联系方式</em>
				<i id="twobian" v-on:click="subForm4">编辑</i>
			</div>
			<div class="twodian1">
				<span id="twod3">{{resume.telephone}}</span>
				<p id="twod4">{{resume.email}}</p>
			</div>
		</div>
		<div class="twok2" id="twok2" v-bind:class="{'class-bb':decide.work2.isB}">
			<div class="twopub clearfix">
				<var></var>
				<em>联系方式</em>
			</div>
			<div class="clearfix">
				<input type="text" id="twod1" class="twod1" v-model="resume.telephone"/>
				<input type="text" id="twod2" class="twod2" v-model="resume.email"/>
			</div>
			<div class="clear"></div>
			<div class="twobaocun clearfix">
				<h2 id="onebao1" v-on:click="subForm5">保存</h2>
				<cite id="onequxiao">取消</cite>
			</div>
		<!-- 	<div class="twoding" id="twoding"></div> -->
		</div>
	</li>
	<li>
		<div class="threek1" id="threek1" v-bind:class="{'class-aa':decide.work3.isA}">
			<div class="twopub clearfix">
				<var></var>
				<em>个人形象</em>
				<i id="threebian" v-on:click="threebian">编辑</i>
			</div>
			<div class="threes clearfix">
				<em>身高:</em>
				<var>{{resume.zodiac}}</var>
				<i>体重:</i>
				<cite>{{resume.constellation}}</cite>
			</div>
		</div>
		<div class="threek2" id="threek2" v-bind:class="{'class-bb':decide.work3.isB}">
			<div class="twopub clearfix">
				<var></var>
				<em>个人形象</em>
			</div>
			<input type="text" id="threed1" class="threed1" v-model="resume.zodiac">
			<input type="text" id="threed2" class="threed2" v-model="resume.constellation">
			<p>厘米</p>
			<span>公斤</span>
			<div class="twobaocun clearfix">
				<h2 id="twobao1" v-on:click="threebao">保存</h2>
				<cite id="twoquxiao">取消</cite>
			</div>
		</div>
	</li>
	<li id="yixiang">
		<div class="fourk1" id="fourk1" v-bind:class="{'class-aa':decide.work4.isA}">
			<div class="twopub clearfix">
				<var></var>
				<em>求职意向</em>
				<i id="fourbian" v-on:click="fourbian">编辑</i>
			</div>
			<div class="foura1 clearfix">
				<cite>期望从事行业:</cite>
				<div class="foura11" id="fourqw1">{{resume.intent[0].industry}}</div>
			</div>
			<div class="foura1 clearfix">
				<cite>期望职位:</cite>
				<span id="fourxs1">{{resume.intent[0].position}}</span>
			</div>
			<div class="foura1 clearfix">
				<cite>期望工作地区:</cite>
				<span>
					<b id="fourqw2">{{resume.intent[0].area_province}}</b>
					<strong id="fourqw3">{{resume.intent[0].area_city}}</strong>
				</span>
			</div>
			<div class="foura1 clearfix">
				<cite>期望底薪:</cite>
				<span id="fourxs2">{{resume.intent[0].salary}}</span>
			</div>
			<div class="foura1 clearfix">
				<cite>期望运营产品:</cite>
				<span id="fourxs3">{{resume.intent[0].production}}</span>
			</div>
			<div class="foura1 clearfix">
				<cite>使用工具:</cite>
 				<span id="fourjia1">{{{resume.intent[0].sell_mode | typeName}}}</span>
			</div>
			<div class="chuchai">
				<strong>能否出差:</strong>
				<b>{{resume.intent[0].business_trip | typeName1}}</b>
			</div>
		</div>
		<div class="fourk2" id="fourk2" display="block" v-bind:class="{'class-bb':decide.work4.isB}">
			<div class="twopub clearfix">
				<var></var>
				<em>求职意向</em>
			</div>
			<div class="fourhy clearfix">
				<i>期望从事行业:</i>
				<select class="fourselect1" v-model="resume.intent[0].industry">
					<option>IT</option>
					<option>互联网</option>
					<option>软件工程师</option>
					<option>电子信息</option>
				</select>
			</div>
			<div class="fourhy1 clearfix">
				<i>期望职位:</i>
				<input type="text" id="fourq1" v-model="resume.intent[0].position"/>
			</div>
			<div class="fourhy1 clearfix">
				<i>期望底薪:</i>
				<input type="text" id="fourq2" v-model="resume.intent[0].salary"/>
			</div>
			<div class="fourhy fourhy2 clearfix">
				<i>期望工作地区:</i>
				<select class="fourselect2" v-model="resume.intent[0].area_province">
					<option>北京市</option>
					<option>河北省</option>
					<option>天津市</option>
					<option>上海市</option>
				</select>
				<select class="fourselect3" v-model="resume.intent[0].area_city">
					<option>北京</option>
					<option>天津</option>
					<option>上海</option>
					<option>广州</option>
				</select>
				<div class="fourx1">
				<input type="checkbox" v-model="resume.intent[0].business_trip"/>
				<label>可出差</label>
				</div>
			</div>
			<div class="fourhy1 clearfix">
				<i>期望产品:</i>
				<input type="text" id="fourq3" v-model="resume.intent[0].production"/>
			</div>
			<div class="fourdm1 clearfix">
				<i>使用开发工具:</i>
				<div class="fourdm">
					<span>
						<input type="checkbox" value="0" id="fourdj1" v-model="resume.intent[0].sell_mode"/>
						<label for="fourdj1">sublime text</label>
					</span>
					<span>
						<input type="checkbox" value="1" id="fourdj2" v-model="resume.intent[0].sell_mode"/>
						<label for="fourdj2">webStrom</label>
					</span>
					<span>
						<input type="checkbox" value="2" id="fourdj3" v-model="resume.intent[0].sell_mode"/>
						<label for="fourdj3">Grunt</label>
					</span>
					<span>
						<input type="checkbox" value="3" id="fourdj4" v-model="resume.intent[0].sell_mode"/>
						<label for="fourdj4">LiveReload</label>
					</span>
					<span>
						<input type="checkbox" value="4" id="fourdj5" v-model="resume.intent[0].sell_mode"/>
						<label for="fourdj5">Karma</label>
					</span>
					<span>
						<input type="checkbox" value="5" id="fourdj6" v-model="resume.intent[0].sell_mode"/>
						<label for="fourdj6">dreamwave</label>
					</span>
				</div>
			</div>
			<div class="onebaocun clearfix">
				<p id="fourbao1" v-on:click="fourbao">保存</p>
				<span id="onequxiao">取消</span>
			</div>
		</div>
		<div class="fourk3" id="fourk3" v-bind:class="{'class-cc':decide.work4.isC}">
			<div class="twopub clearfix">
				<var></var>
				<em>求职意向</em>
			</div>
			<dl class="fourdl clearfix">
				<dt v-on:click="fourk1"></dt>
				<dd>
					<em>通过生活照展示个人形象</em>
					<i>通过对企业的吸引力</i>
					<span id="fourws" v-on:click="fourk1">完善求职意向</span>
				</dd>
			</dl>
		</div>
	</li>
	<li class="fivezong" id="five-zong">
		<div class="fivek1">
			<ol class="fiveol" id="fiveol">
				<li id="fiveli" class="fiveli">
					<div class="fivekelong" id="fivekelong" v-bind:class="{'class-aa':decide.work5.isA}">
						<div class="twopub clearfix" id="fivexg1">
							<var></var>
							<em class="fiveem">工作经历</em>
							<i id="fivebian" v-on:click="fivetian(-100)">添加</i>
						</div>
						<div class="fivehou1 clearfix" v-for="item in resume.work_history">
							<cite>{{item.company}}</cite>
							<em>-</em>
							<span>{{item.position}}</span>
							<b v-on:click="deletePerson($index)">删除</b>
							<strong class="five-bian" v-on:click="bianPerson($index,item)">编辑</strong>
						</div>
					</div>
					<div class="fivek2" v-bind:class="{'class-bb':decide.work5.isB}">
						<div class="twopub clearfix" id="fivexg1">
							<var></var>
							<em>工作经历</em>
						</div>
						<div class="fivein1 clearfix">
							<input type="text" class="five-yk1 five-yk11" v-model="expItem.company"/>
							<input type="text" class="fiveinput five-yk1 five-yk12" v-model="expItem.position"/>
						</div>
						<div class="fiveselzong clearfix">
							<div class="xinselect fivesel1">
								<select v-model="expItem.start_year">
									<option>2012</option>
									<option>2013</option>
									<option>2014</option>
									<option>2015</option>
									<option>2016</option>
									<option>2017</option>
								</select>
								<cite>
									<b>{{expItem.start_year | typeSelect1 "2016"}}</b>
									<strong></strong>
								</cite>
							</div>
							<div class="xinselect fivesel1">
								<select v-model="expItem.end_year">
									<option>1月</option>
									<option>2月</option>
									<option>3月</option>
									<option>4月</option>
									<option>5月</option>
									<option>6月</option>
									<option>7月</option>
									<option>8月</option>
									<option>9月</option>
									<option>10月</option>
									<option>11月</option>
									<option>12月</option>
								</select>
								<cite>
									<b>{{expItem.end_year | typeSelect1 "7月"}}</b>
									<strong></strong>
								</cite>
							</div>
							<div class="xinselect fivesel1">
								<select v-model="expItem.sales_type">
									<option>2012</option>
									<option>2013</option>
									<option>2014</option>
									<option>2015</option>
									<option>2016</option>
									<option>2017</option>
								</select>
								<cite>
									<b>{{expItem.sales_type | typeSelect1 "结束年份"}}</b>
									<strong></strong>
								</cite>
							</div>
							<div class="xinselect fivesel1">
								<select v-model="expItem.reportto">
									<option>1月</option>
									<option>2月</option>
									<option>3月</option>
									<option>4月</option>
									<option>5月</option>
									<option>6月</option>
									<option>7月</option>
									<option>8月</option>
									<option>9月</option>
									<option>10月</option>
									<option>11月</option>
									<option>12月</option>
								</select>
								<cite>
									<b>{{expItem.reportto | typeSelect1 "结束月份"}}</b>
									<strong></strong>
								</cite>
							</div>
						</div>
						<div class="fivein3">
							<input type="checkbox" value=""/>
							<label>管理岗位</label>
						</div>
						<div class="fivein1 clearfix">
							<input type="text" class="five-yk1 five-yk17"  v-model="expItem.subordinate"/>
							<input type="text" placeholder="vqycfv" class="fiveinput five-yk1 five-yk18" v-model="expItem.desc"/>
						</div>
						<div class="fivein5">
							<input type="text" class="five-yk1 five-yk19" v-model="expItem.sales_year"/>
						</div>
						<div class="fivein6">
							<p>让数据说话，快来展示你傲人的业绩吧</p>
							<ol class="fiveol1 clearfix">
								<li>
									<input type="text" class="five-yk1 five-yk20" value="" v-model="expItem.finish_rate"/>
								</li>
								<li>
									<input type="text"  class="five-yk1 five-yk21" value="" v-model="expItem.productions"/>
								</li>
								<li>
									<input type="text" class="five-yk1 five-yk22" value="" v-model="expItem.sell_target"/>
								</li>
								<li>
									<input type="text" class="five-yk1 five-yk23" value="" v-model="expItem.sell_mode"/>
								</li>
								<li>
									<input type="text" class="five-yk1 five-yk24" value=""/>
								</li>
								<li>
									<input type="text" class="five-yk1 five-yk25" value=""/>
								</li>
							</ol>
						</div>
						<div class="fivein3">
							<input type="checkbox" value=""/>
							<label>添加更多描述</label>
						</div>
						<div class="fivein8">
							<input type="text" placeholder="vyevlalalla啦啦啦" class="five-yk1 five-yk26"/>
						</div>
						<div class="onebaocun fivebaocun clearfix">
							<p id="onebao5" abd="hao" v-on:click="fivebao(expItem)">保存</p>
							<span id="onequxiao" v-on:click="canclePerson">取消</span>
						</div>
					</div>
				</li>
			</ol>
		</div>
		<div class="fourk3" id="fivek3" v-bind:class="{'class-cc':decide.work5.isC}">
			<div class="twopub clearfix">
				<var></var>
				<em>工作经历</em>
			</div>
			<dl class="fourdl clearfix">
				<dt v-on:click="fivek1(-99)"></dt>
				<dd>
					<em>通过生活照展示个人形象</em>
					<i>通过对企业的吸引力</i>
					<span id="fivews" v-on:click="fivek1(-99)">完善工作经历</span>
				</dd>
			</dl>
		</div>
	</li>
	<li>
		<div class="fourk3" id="fivek3" v-bind:class="{'class-cc':decide.work6.isC}">
			<div class="twopub clearfix">
				<var></var>
				<em>教育经历</em>
			</div>
			<dl class="fourdl clearfix">
				<dt v-on:click="sixk1(-99)"></dt>
				<dd>
					<em>通过生活照展示个人形象</em>
					<i>通过对企业的吸引力</i>
					<span id="fivews" v-on:click="sixk1(-99)">完善教育经历</span>
				</dd>
			</dl>
		</div>
		<div class="fivek2" v-bind:class="{'class-bb':decide.work6.isB}">
			<div class="twopub clearfix" id="fivexg1">
				<var></var>
				<em>教育经历</em>
			</div>
			<div class="fivein1 clearfix">
				<input type="text" class="five-yk1 five-yk11" v-model="expItem1.school"/>
				<input type="text" class="fiveinput five-yk1 five-yk12" v-model="expItem1.major"/>
			</div>
			<div class="fiveselzong clearfix">
				<div class="xinselect fivesel1">
					<select v-model="expItem1.start_year">
						<option>2012</option>
						<option>2013</option>
						<option>2014</option>
						<option>2015</option>
						<option>2016</option>
						<option>2017</option>
					</select>
					<cite>
						<b>{{expItem1.start_year | typeSelect1 "开始年份"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect fivesel1">
					<select v-model="expItem1.start_month">
						<option>1月</option>
						<option>2月</option>
						<option>3月</option>
						<option>4月</option>
						<option>5月</option>
						<option>6月</option>
						<option>7月</option>
						<option>8月</option>
						<option>9月</option>
						<option>10月</option>
						<option>11月</option>
						<option>12月</option>
					</select>
					<cite>
						<b>{{expItem1.start_month | typeSelect1 "开始月份"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect fivesel1">
					<select v-model="expItem1.end_year">
						<option>2012</option>
						<option>2013</option>
						<option>2014</option>
						<option>2015</option>
						<option>2016</option>
						<option>2017</option>
					</select>
					<cite>
						<b>{{expItem1.end_year | typeSelect1 "结束年份"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect fivesel1">
					<select v-model="expItem1.end_month">
						<option>1月</option>
						<option>2月</option>
						<option>3月</option>
						<option>4月</option>
						<option>5月</option>
						<option>6月</option>
						<option>7月</option>
						<option>8月</option>
						<option>9月</option>
						<option>10月</option>
						<option>11月</option>
						<option>12月</option>
					</select>
					<cite>
						<b>{{expItem1.end_month | typeSelect1 "结束月份"}}</b>
						<strong></strong>
					</cite>
				</div>
			</div>
			<div class="xinselect fivesel1 seven1">
				<select v-model="expItem1.level">
					<option>大专</option>
					<option>本科</option>
					<option>硕士</option>
					<option>博士</option>
				</select>
				<cite>
					<b>{{expItem1.level | typeSelect1 "本科"}}</b>
					<strong></strong>
				</cite>
			</div>
			<div class="clear"></div>
			<div class="onebaocun fivebaocun clearfix">
				<p id="onebao5" abd="hao" v-on:click="sixbao(expItem1)">保存</p>
				<span id="onequxiao" v-on:click="canclePerson1">取消</span>
			</div>
		</div>
		<div class="fivekelong" id="fivekelong" v-bind:class="{'class-aa':decide.work6.isA}">
			<div class="twopub clearfix" id="fivexg1">
				<var></var>
				<em class="fiveem">教育经历</em>
				<i id="fivebian" v-on:click="sixtian(-100)">添加教育经历</i>
			</div>
			<div class="fivehou1 clearfix" v-for="item in resume.edu_history">
				<cite>{{item.school}}</cite>
				<em>-</em>
				<span>{{item.major}}</span>
				<em>-</em>
				<span>{{item.level}}</span>
				<b v-on:click="deletePerson1($index)">删除</b>
				<strong class="five-bian" v-on:click="bianPerson1($index,item)">编辑</strong>
			</div>
		</div>
	</li>
	<li>
		<div class="fourk3" id="fivek3" v-bind:class="{'class-cc':decide.work7.isC}">
			<div class="twopub clearfix">
				<var></var>
				<em>英语水平</em>
			</div>
			<dl class="fourdl clearfix">
				<dt v-on:click="sevenk1(-99)"></dt>
				<dd>
					<em>通过生活照展示个人形象</em>
					<i>通过对企业的吸引力</i>
					<span id="fivews" v-on:click="sevenk1(-99)">完善英语水平</span>
				</dd>
			</dl>
		</div>
		<div class="fivek2" v-bind:class="{'class-bb':decide.work7.isB}">
			<div class="twopub clearfix" id="fivexg1">
				<var></var>
				<em>英语水平</em>
			</div>
			<div class="fivein1 clearfix">
				<input type="text" class="five-yk1 five-yk11" v-model="expItem2.name"/>
				<input type="text" class="fiveinput five-yk1 five-yk12" v-model="expItem2.rog"/>
			</div>
			<div class="fiveselzong clearfix">
				<div class="xinselect fivesel1">
					<select v-model="expItem2.start_year">
						<option>较差</option>
						<option>一般</option>
						<option>良好</option>
						<option>优秀</option>
					</select>
					<cite>
						<b>{{expItem2.start_year | typeSelect1 "听力水平"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect fivesel1">
					<select v-model="expItem2.start_month">
						<option>较差</option>
						<option>一般</option>
						<option>良好</option>
						<option>优秀</option>
					</select>
					<cite>
						<b>{{expItem2.start_month | typeSelect1 "阅读水平"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect fivesel1">
					<select v-model="expItem2.end_year">
						<option>较差</option>
						<option>一般</option>
						<option>良好</option>
						<option>优秀</option>
					</select>
					<cite>
						<b>{{expItem2.end_year | typeSelect1 "口语水平"}}</b>
						<strong></strong>
					</cite>
				</div>
				<div class="xinselect fivesel1">
					<select v-model="expItem2.end_month">
						<option>较差</option>
						<option>一般</option>
						<option>良好</option>
						<option>优秀</option>
					</select>
					<cite>
						<b>{{expItem2.end_month | typeSelect1 "写作水平"}}</b>
						<strong></strong>
					</cite>
				</div>
			</div>
			<div class="clear"></div>
			<div class="onebaocun fivebaocun clearfix">
				<p id="onebao5" abd="hao" v-on:click="sevenbao(expItem2)">保存</p>
				<span id="onequxiao" v-on:click="canclePerson2">取消</span>
			</div>
		</div>
		<div class="fivekelong" id="fivekelong" v-bind:class="{'class-aa':decide.work7.isA}">
			<div class="twopub clearfix" id="fivexg1">
				<var></var>
				<em class="fiveem">英语水平</em>
				<i id="fivebian" v-on:click="seventian(-100)">添加教育经历</i>
			</div>
			<div class="fivehou1 clearfix" v-for="item in resume.train">
				<cite>{{item.name}}</cite>
				<em>-</em>
				<span>{{item.rog}}</span>
				<b v-on:click="deletePerson2($index)">删除</b>
				<strong class="five-bian" v-on:click="bianPerson2($index,item)">编辑</strong>
			</div>
		</div>
	</li>
</ul>
<script>
seajs.use("index2",function (app) {
		app.init();
});
</script>
</body>
</html>